{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8"> 
		<title>Elective subjects</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/navi.css' %}" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
				<script>
					$(document).ready(function() {
						$(".toggle").on("change", function(e) {
							var $inp = $(this).siblings(".select");
							if(this.checked) {
								$inp.show();
							}
							else {
								$inp.hide();
							}
						});
					});
				</script>
				<script>
				$(document).ready(function() {
					$('#example').dataTable();
				} );
				</script>
	</head>

    <body>
        <div class="container">
            <div class="page-header">
                <h1>Elective subjects</h1>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/index/">Homepage</a></li>
                        <li class="active"><a href="/courses/">Courses</a></li>
                        <li><a href="/mycourses/">My Courses</a></li>
                        <li class="active"><a href="/account/">Account Information</a></li>
                        <li><a href="">Logged User: {{student.user.first_name}} {{student.user.last_name}} ({{student.user.username}}) </a></li>
                        <li><a href="/logout/">Log out</a></li>
                    </ul>
                </div>

                <div class="col-md-10">
                    <h2>Course details</h2>
                    <table class="table">
                    <tbody>
                    <tr><td>Name:</td><td>{{ course.Name }}</td></tr>
                    <tr><td>ECTS:</td><td>{{ course.ECTS }}</td></tr>
                    <tr><td>Min Students:</td><td>{{ course.MinStudents }}</td></tr>
                    <tr><td>Max Students:</td><td>{{ course.MaxStudents }}</td></tr>
                    <tr><td>Semester:</td><td>{{ course.Semester }}</td></tr>
                    <tr><td>Teacher:</td><td>{{ course.Staff_idStaff.Title }} {{ course.Staff_idStaff.Name }} {{ course.Staff_idStaff.Surname }}</td></tr>
                    <tr><td>Descrption:</td><td>{{ course.Description }}</td></tr>
                    <tr><td>Way of getting credit:</td><td>{{ course.WayOfGettingCredit }}</td></tr>
                    <tr><td>Exam:</td><td>{{ course.Exam }}</td></tr>
                    </tbody>
                    </table>
                    
                    
                    {% for cl in classes %}
                        <div class="panel panel-default">
                        
  								<div class="panel-body">
  								
                        
                        
                    <table class="table">
                    <tbody>
                    <tr><td>Type:</td><td>{{ cl.Class_Type_idClass.Name }}</td></tr>
                    <tr><td>Min Students:</td><td>{{ cl.Class_Type_idClass.MinStudents }}</td></tr>
                    <tr><td>Max Students:</td><td>{{ cl.Class_Type_idClass.MaxStudents }}</td></tr>
                    <tr><td>Teacher:</td><td>{{ cl.Staff_idStaff.Title }} {{ cl.Staff_idStaff }} </td></tr>
                    <tr><td>Hours:</td><td>{{ course.Semester }}</td></tr>
                    </tbody>
                    </table>
                        
                        
                        
  								</div>
  								
  								<div class="panel-footer">
  								<a type="button" class="btn btn-primary" href="{% url 'class_add' course.id cl.id %}" >Sign up</a>
  								<a type="button" class="btn btn-primary" href="{% url 'class_remove' course.id cl.id %}" >Sign out</a>
  								</div>

								</div>
                    {% endfor %}
                </div>

                <center>
                    <footer class="navbar-fixed-bottom" style="background-color:white">
                        &copy; 2015 PiTE
                    </footer>
                </center>

            </div>
        </div>

	</body>

</html>

<!--
<body>
		<header class="navbar-fixed-top" role="banner" style="background-color:white">
			<div class="container">

				<div class="masthead">
				<h3 class="text-muted">Elective subjects</h3>

					<div class="container">
						<div class="navbar navbar-inverse navbar-static-top" role="navigation">
							<div class="container">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="/index/">Homepage</a>
								</div>
								<div class="navbar-collapse collapse">
									<ul class="nav navbar-nav">
									<li><a href="/courses/">Courses</a></li>
									<li><a href="/mycourses/">My Courses</a></li>
									<li><a href="/account/">Account Information</a></li>
									<li><a href="">Logged User: {{student.Name}} {{student.Surname}}</a></li>
									<li><a href="/logout/">Log out</a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</header>
		<br />
		<br />

		<div class="jumbotron">
			<h2>Name: {{ course.Name }}</h2>
			<h4>ECTS: {{ course.ECTS }}</h4>
			<h4>MinStudents: {{ course.MinStudents }}</h4>
			<h4>MaxStudents: {{ course.MaxStudents }}</h4>
			<h4>Semestr: {{ course.Semester }}</h4>
			<h4>Prowadzący: {{ course.Staff_idStaff.Title }} {{ course.Staff_idStaff.Name }} {{ course.Staff_idStaff.Surname }}</h4>
			<h4>Opis: {{ course.Description }}</h4>
			<h4>Wymagania: {{ course.Requirements }}</h4>
			<h4>Sposób zaliczenia: {{ course.WayOfGettingCredit }}</h4>
			<h4>Egzamin: {{ course.Exam }}</h4>
			{% for cl in classes %}
			<br />
			<h4>Zajęcia: {{ cl.Class_Type_idClass.Name }} MinStudents: {{ cl.Class_Type_idClass.MinStudents }} MaxStudents: {{ cl.Class_Type_idClass.MaxStudents }}<h4/>
			<h4>Prowadzący: {{ cl.Staff_idStaff.Title }} {{ cl.Staff_idStaff.Name }} {{ cl.Staff_idStaff.Surname }} Ilość godzin:{{ cl.Hours }}</h4>
			<h4><a href="{% url 'class_add' course.id cl.id %}">Zapisz</a></h4>
			<h4><a href="{% url 'class_remove' course.id cl.id %}">Wypisz</a></h4>
        		{% endfor %}
		 </div>



		<center>
			<footer class="navbar-fixed-bottom" style="background-color:white">
				<p>&copy; 2015 PiTE</p>
	  		</footer>
		</center>


	</body>
	-->
