{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8"> 
		<title>Elective subjects</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/navi.css' %}" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
				<script>
					$(document).ready(function() {
						$(".toggle").on("change", function(e) {
							var $inp = $(this).siblings(".select");
							if(this.checked) {
								$inp.show();
							}
							else {
								$inp.hide();
							}
						});
					});
				</script>
				<script>
				$(document).ready(function() {
					$('#example').dataTable();
				} );
				</script>
	</head>

     <body>
        <div class="container">
            <div class="page-header">
                <h1>Elective subjects</h1>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/index/">Homepage</a></li>
                        <li class="active"><a href="/courses/">Courses</a></li>
                        <li><a href="/mycourses/">My Courses</a></li>
                        <li><a href="/account/">Account Information</a></li>
                        <li><a href="">Logged User: {{staff.Title}} {{staff.user.first_name}} {{staff.user.last_name}} ({{staff.user.username}}) </a></li>
                        <li><a href="/logout/">Log out</a></li>
                    </ul>
                </div>

                <div class="col-md-10">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2>Name: {{ course.Name }}</h2>
                        <h4>ECTS: {{ course.ECTS }}</h4>
                        <h4>Min Students: {{ course.MinStudents }}</h4>
                        <h4>Max Students: {{ course.MaxStudents }}</h4>
                        <h4>Semester: {{ course.Semester }}</h4>
                        <h4>Teacher: {{ course.Staff_idStaff.Title }} {{ course.Staff_idStaff.user.first_name }} {{ course.Staff_idStaff.user.last_name }}</h4>
                        <h4>Descrption: {{ course.Description }}</h4>
                        	{%if course.Staff_idStaff.user == request.user%}
                            <p>Descrption: <textarea name="Description" rows="10" cols="50"></textarea></p>
                            {% endif %}
                        <h4>Requirements: {{ course.Requirements }}</h4>
                        {%if course.Staff_idStaff.user == request.user%}
                            <p>Requirements: <textarea name="Requirements" rows="10" cols="50"></textarea></p>
                            {% endif %}
                        <h4>Way of getting credit: {{ course.WayOfGettingCredit }}</h4>
                        {%if course.Staff_idStaff.user == request.user%}
                            <p>Way of getting credit: <textarea name="WayOfGettingCredit" rows="10" cols="50"></textarea></p>
                            {% endif %}
                        <h4>Exam: {{ course.Exam }}</h4>
                        {%if course.Staff_idStaff.user == request.user%}
                        <input type="submit" value="Submit">
                        {% endif %}
                    </form>
                    {% for cl in classes %}
                        <br/>
                        <h4>Courses: {{ cl.Class_Type_idClass.Name }} Min Students: {{ cl.Class_Type_idClass.MinStudents }} Max Students: {{ cl.Class_Type_idClass.MaxStudents }}<h4/>
                        <h4>Teacher: {{ cl.Staff_idStaff.Title }} {{ cl.Staff_idStaff.Name }} {{ cl.Staff_idStaff.Surname }} Hours:{{ cl.Hours }}</h4>
                    {% endfor %}
                    
                    <h2>Students</h2>
                    {% for student in students%}
                    		<h4>{{student.Student_idStudent.user.first_name}} {{student.Student_idStudent.user.last_name}}</h4>
                    {% endfor %}
                    <br/>
                    <br/>
                </div>
                
                
                
                

                <center>
                    <footer class="navbar-fixed-bottom" style="background-color:white">
                        &copy; 2015 PiTE
                    </footer>
                </center>

            </div>
        </div>

	</body>

</html>

